@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* Light Theme */
:root {
  --background: white;
  --foreground: black;
}

/* Dark Theme */
.dark {
  --background: black;
  --foreground: white;
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes blob {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(80px) scale(1.08);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

.animate-blob {
  animation: blob 18s ease-in-out infinite;
}



